body {
    box-sizing: border-box;
    width: 100%;
    font-family: Poppins;
    margin: 0;
  }

  h3 {
    margin: 0px;
  }

  img {
    margin-bottom: 0px;
  }

  button:hover {
    cursor: pointer;
  }

  .section-1 {
    background-image: url('bg-bakso.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0 100px;
    position: sticky;
  }

  .introduction {
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 1rem 5%;
    color: white;
  }

  /* NAVBAR */
  .navbar {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 5%;
    background-color: #191919;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid orange;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .logo {
    color: white;
  }
  .menus a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 10px;
  }
  .in-cari {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn-cari {
    color: #191919;
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* NAVBAR */

  /* CARD */
  .card {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0px;
  }
  .card-1 {
    border-radius: 15px;
    padding: 0.5rem;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid white;
    justify-items: center;
    max-height: 100%;
  }
  .card-1 h3 {
    color: orange;
    text-align: center;
  }
  .card-1 p {
    color: white;
    text-align: center;
  }
  .tampil-image {
    width: 300px;
    height: 150px;
    border-radius: 5px 5px 0 0;
  }
  .tombol {
    padding-top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .btn-detail {
    border: none;
    background-color: red;
    color: white;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5px;
  }
  .btn-beli {
    border: none;
    background-color: green;
    color: white;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5px;
  }
  /* CARD */

  /* BOTTOM CONTENT */
  .bottom-content{
    padding-bottom: 2rem;
  }

  .bottom-content button {
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 100px;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* BOTTOM CONTENT */
  

.kotak {
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    position: static;
    margin-top: 0px;
}
